@using Services
@inject QueryService _queryService


<MatTable Items="@operations" class="mat-elevation-z5" ShowPaging="true" UseSortHeaderRow="false"  AllowSelection="false">
    <MatTableHeader>
        <th style="width:35%;">Id</th>
        <th style="width:65%;">Number</th>
        <th style="width:30%;">Contract</th>
    </MatTableHeader>
    <MatTableRow>
        <td style="width:35%;">@context.Id </td>
        <td style="width:65%;">@context.Number</td>
        <td style="width:30%;">@context.contract.Name</td>
    </MatTableRow>
</MatTable>

@code {

    public List<BlazorFront.Models.Operation> operations;
    public bool DialogOpened = false;
    public bool ModifyContractDialogOpen = false;
    public BlazorFront.Models.Operation SelectedOperation;

    protected override async Task OnInitializedAsync()
    {
        SelectedOperation = new Models.Operation();
#if DEBUG
    await Task.Delay(10000);
#endif
        operations = await _queryService.GetOperationsAsync();
    }

    void OpenDialog()
    {
        DialogOpened = true;
    }
}