@if (isLoaded)
{
    @ChildContent
}
else
{
<div style="display:flex; flex-direction: column; align-items: center; width: 100%">
    <img src="/Images/Cotecna-loading.jpg" asp-append-version="true" style="max-width: 400px; max-height:400px;" />
    <MatProgressBar Progress="@progress" Style="width: 50%;" ></MatProgressBar>
</div>    
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public double progress = 0;

    protected override async Task OnInitializedAsync()
    {
        while(progress <= 1)
        {
            progress += 0.1;
            this.StateHasChanged();
            await Task.Delay(100);
        }

        isLoaded = true;
    }
}
